*.a

# ---> CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt

rundocker.bat
.vscode
/src/cli/cli
*_autogen
src/gui/SimpleChat
src/gui/qrc_resources.cpp
src/net/rpc-hash.hpp
src/net/stage-id-hash.hpp
src/web/node_modules
src/web/config

DeployPackage
deploy.tar.gz
runcli
